* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .menu{
    padding-left: 50%;
  }
  .header {
    max-width: 100%;
    height: 5%;
  }
  .page {
    max-width: 100%;
    height: 80%;
  }
  .page_box1 {
    text-align: center;
    padding-bottom: 3%;
    padding-top: 13%;
  }
  .page_box1 h1 {
    padding: 2%;
    font-family: Merriweather, serif !important;
  }
  .page_box2 {
    background: url("./img/pexels-photo-6171394.jpeg") no-repeat fixed center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    padding: 8%;
    text-align: center;
  }
  .card {
    margin: 2%;
    padding: 2%;
  }
  .far {
    font-size: 40px;
  }
  .fas {
    font-size: 40px;
  }
  .page_box3 {
    text-align: center;
    padding-top: 5%;
    position: relative;
    padding-bottom: 15.5%;
  }
  .page_box3 h1 {
    margin: 2%;
  }
  .page_box {
    width: 15%;
  }
  .page_box3 img {
    width: 15%;
  }
  .img2 {
    position: absolute;
    top: 40%;
    right: 0;
  }
  .img3 {
    float: left;
    position: absolute;
    top: -15%;
    left: 0;
  }
  .page_box4 {
    text-align: center;
    padding-top: 5%;
  }
  
  .circle {
    background: #9eafbf;
    border: 0.1px solid #5f6268;
    border-radius: 50%;
    /* box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125); */
    height: 35em;
    width: 60%;
    margin-top: 5%;
  }
  .circle_text {
    padding-top: 20%;
    color: aliceblue;
  }
  .page_preview {
    text-align: left;
    display: flex;
    justify-content: center;
    font-family: Montserrat, sans-serif !important;
    margin-bottom: 7%;
  }
  
  .page_preview-left {
    padding-top: 3%;
  }
  .page_preview-right {
    padding-left: 7%;
  }
  .page_preview-right button{
    border-radius: 25px;
  }
  .btn-primary {
    color: #9eafbf !important;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px auto 0 94px;
    border-color: #9eafbf !important;
    color: #9eafbf !important;
    background-color: transparent !important;
    border-width: 2px;
    border-radius: 25px;
  }
  .page_box5 {

    background: url("./img/pexels-photo-6171394.jpeg") no-repeat fixed center;
    background-size: 100%;
  }
  .page_box3 button{
    border-radius: 25px;
  }

.page_box7{
    padding: 5%;
    background-color: #e5e5e5;
    font-family: Merriweather, serif !important;
    text-align: right;
}
.img-right img{
  float: left;
}
.texxt-left{
  text-align: right;
}
.page_box8{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Merriweather, serif !important;
    
    
}
.carousel-1{
    position: absolute;
    left: 30%;
    text-align: center;
    font-family: Merriweather, serif !important;
}
.carousel-1 p{
    padding-top: 5%;
}

.carousel-1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
.page_box9{
    margin-top: 15%;
    background-color:  #9eafbf;
}
.page_box9-text{
    text-align:center ;
    padding-top: 5%;
}
.page_box9-top{
    display: flex;
    justify-content: center;
}
.page_box10{
  background-color:  #333333;
}

.page_box10 p{
  padding: 1%;
  text-align: center;
  color: aliceblue;
}
/* mobile  width: <740px*/
@media only screen and (max-width: 46.1875em) {
  .page_box{
    display: flex;
    flex-direction: column;
  }  
  .page_box2 {
      max-width: 100%;
    }
    .card {
      margin: auto;
    }
    .container-fluid img {
      width: 25%;
      border-radius: 7px;
    }
    .main_top {
      padding-top: 17%;
    }
    .circle {
      width: 100%;
      height: 100%;
    }
    .page_box3 {
      display: block;
    }
    .carousel-1{
      width:20%;
    }
}
  